
@{
    Layout = null;
}

<h3>&nbsp;Mvc Proje Kampı ~ Tablo Örneği</h3>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kategori ID</th>
            <th>Kategori Ad</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Yazılım</td>
            <td>True</td>
        </tr>
    </tbody>
</table>

&nbsp;<button class="btn btn-info">Yeni Kategori</button> <button class="btn btn-warning">Kategori Listesi</button> <button class="btn btn-secondary">Kategori Açıklamaları</button>