<li class="nav-item">
    <a href="/YazarPanelMesaj/Inbox/" class="nav-link">
        <i class="nav-icon fas fa-comment"></i>
        <p>
            Mesajlar &nbsp; &nbsp; <span class="badge bg-green">@ViewBag.okunmamis</span>
        </p>
    </a>
</li>
