
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hakkımızda Metin Girişi</h4>
            </div>
            <form method="post" action="/Hakkinda/HakkindaEkle/">
                <div class="modal-body">
                    <label>1.Hakkımda Metini</label>
                    <input type="text" name="HakkindaCont1" class="form-control" />
                    <br />
                    <label>2.Hakkımda Metini</label>
                    <input type="text" name="HakkindaCont2" class="form-control" />

                    <div style="height: 0px; border: solid 1px gray; border-radius: 40px; margin-top: 20px; margin-bottom: 15px;"></div>

                    <label>1.Hakkımda Görseli</label>
                    <input type="text" name="HakkindaResim1" class="form-control" />
                    <br />
                    <label>2.Hakkımda Görseli</label>
                    <input type="text" name="HakkindaResim2" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>