@using EntityLayer.Concrete   
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutDefault</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
